@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.png');
    background-repeat: repeat;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: 2rem auto;
}

/* MENÚ DE NAVEGACIÓN */

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 3%;
}

header nav ul li a {
    text-decoration: none;
    color: #24125E;
    background-color: #7499f0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-block;
    padding: 0.4rem 0.3rem;
    border-radius: 0.25rem;
}

header nav ul li a:hover {
    color: #f9c416;
    background-color: #D15D11;
}

header nav ul li a:active {
    color: #6399ff;
    background-color: #161f9e;
}

header nav ul li a:visited {
    color: #1d4080;
    background-color: #0c104d;
}

/* TITULOS Y TEXTO */

h1,
h2,
h3,
h4 {
    font-family: 'Arvo', serif;
    font-size: 2.2rem;
    color: #0d1525;
    margin-bottom: 3%;
}

p,
article ul li {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

.cita {
    font-size: 1rem;
    margin-bottom: 3%;
}

.subtitulo {
    margin-bottom: 5%;
    font-size: 1.4rem;
}

/* COLUMNAS INDEX Y OBRAS */

/* COLUMNA 1 */
.primerColumnaIndex,
.primerColumnaObras {
    background-color: #e3e1fd;
    width: 30%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: auto;
}

/* COLUMNA 2 */

.segundaColumnaIndex {
    background-color: #e3e1fd;
    width: 30%;
    padding: 2rem;
    border-radius: 0.5rem;
}

.segundaColumnaObras {
    width: 35%;
}

.segundaColumnaObras section {
    background-color: #e3e1fd;
    padding: 2rem;
    border-radius: 0.5rem;
}

/* GALERÍA DE OBRAS */

/* GALERÍA */

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e3e1fd;
  padding: 2rem;
  border-radius: 0.5rem;
  font-family: Arial, sans-serif;
}

#tituloGaleria {
  width: 100%;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.galeria .obra {
  width: 30%;
  display: flex;
  flex-direction: column; 
}

.galeria .obra img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.galeria .obra p {
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


/* COLUMNA 3 */

.tercerColumnaIndex,
.tercerColumnaObras {
    background-color: #e3e1fd;
    width: 30%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    align-self: flex-start;
}

/* LISTA (OBRAS) */

article ul li {
    list-style: none;
}

/* COLUMNAS INFO */

/* COLUMNA 1 */

.primerColumnaInfo {
    background-color: #e3e1fd;
    width: 30%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    order: 1;
}

footer.segundaColumnaInfo {
    background-color: #e3e1fd;
    width: 50%;
    padding: 2rem;
    border-radius: 0.5rem;
    order: 2;
    margin-bottom: auto;
}

main.segundaColumnaInfo {
    background-color: #e3e1fd;
    width: 70%;
    padding: 2rem;
    border-radius: 0.5rem;
    order: 3;
    margin-left: auto;
}


/* DATOS CURIOSOS */

/* BOTÓN */

button {
    width: 45%;
    padding: 1rem;
    display: block;
    font-family: 'Arvo', sans-serif;
    font-size: 1rem;
    background-color: #7499f0;
    color: #24125E;
    border: none;
    border-radius: 0.25rem;
    font-weight: bold;
    margin: auto;
    margin-bottom: 2rem;
    order: 3;
}

button:hover {
    background-color: #D15D11;
    color: #f9c416;
}

button:active {
    color: #6399ff;
    background-color: #161f9e;
}

/* RESULTADOS */

.bloqueCuriosidades {
    margin-top: 1rem;
}

.bloqueCurioso {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #6399ff;
    background-color: #161f9e;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 0.2rem;
}

/* FOOTER */

footer {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

footer address a {
    text-decoration: none;
    color: #24125E;
}

footer address a:hover {
    color: #D15D11;
    text-decoration: underline;
}

footer address a:active {
    color: #161f9e;
}

footer address a:visited {
    color: #6399ff;
}